services:
  postgres:
    image: postgres:15-bookworm
    ports:
      - "5432:5432"
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
    volumes:
      - ./.data:/var/lib/postgresql/data
      - ./init_pg:/docker-entrypoint-initdb.d

  zaciraci:
    build:
      context: ..
      dockerfile: Dockerfile
      args:
        - CARGO_BUILD_ARGS=${CARGO_BUILD_ARGS:-}
    ports:
      - "8080:8080"
    environment:
      - PG_DSN=postgres://postgres:postgres@postgres:5432/postgres
      - RUST_LOG=${RUST_LOG:-trace}
      - RUST_LOG_FORMAT=${RUST_LOG_FORMAT:-plain}
      - RUST_BACKTRACE=${RUST_BACKTRACE:-1}
      - USE_MAINNET=${USE_MAINNET:-false}
      - ROOT_MNEMONIC=${ROOT_MNEMONIC}
      - ROOT_HDPATH=${ROOT_HDPATH:-m/44'/397'/0'}
      - ROOT_ACCOUNT_ID=${ROOT_ACCOUNT_ID}
      - HARVEST_ACCOUNT_ID=${HARVEST_ACCOUNT_ID}
      - OLLAMA_BASE_URL=${OLLAMA_BASE_URL}
      - OLLAMA_MODEL=gemma3:12b
